body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:beige;
}
.endimg{
    width: 60%;
    height: auto;
    margin-left: 20%;
}
.text{
    margin: 10px 14%;
    font-size: xx-large;
    font-weight: bold;
}
.submit{
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    font-size: x-large;
    width: 240px;
    cursor: pointer;
    margin-left: 40%;
    margin-bottom: 20px;
}