.drag_grid{
    height: 90px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}
.help_div{
    height: 100px;
    display: inline-block;
}
.quiz1_hiragana{
    height: 60px;
    width: 100px;
    font-size: 40px;
    border-style: solid;
    text-align: center;
    background-image: linear-gradient(to bottom left, rgb(240, 240, 240), lightgrey);
    z-index: 10;
}
.quiz1_Romanization{
    height: 80px;
    width: 120px;
    font-size: 40px;
    border-style: solid;
    text-align: center;
    padding-top: 5px;
    background-image: linear-gradient(to bottom left, rgb(240, 240, 240), lightgrey);
    z-index: 5;
    display: inline-block;
}

/* .result_word{
    font-weight: bold;
    margin-right: 300px;
} */
#quiz1_problem_zone{
    font-size: xx-large;
    margin-top: 40px;
    margin-bottom: 40px;
}
#quiz1_drag_zone{
    /* height: 270px; */
    margin-bottom: 20px;
}

.quiz1_submit{
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    font-size: x-large;
    width: 100px;
    cursor: pointer;
    margin-left: 40%;
    margin-bottom: 20px;
}
.green_zone{
    background: rgb(159, 221, 159);
    color: green;
    font-size: xx-large;
    font-weight: bold;
    padding: 20px 4%;
}
#next_button_correct{
    border-radius: 10px;
    background-color: rgb(3, 110, 3);
    color: white;
    font-size: x-large;
    width: 120px;
    cursor: pointer;
    margin-left: 79%;
    padding: 5px 0px;
}
.red_zone{
    background: rgb(224, 146, 146);
    color: red;
    font-size: xx-large;
    font-weight: bold;
    padding: 20px 4%;
}
#try_again_button{
    border-radius: 10px;
    background-color: rgb(180, 25, 25);
    color: white;
    font-size: x-large;
    width: 160px;
    cursor: pointer;
    margin-left: 61%;
    padding: 5px 0px;
}

.english{
    display: inline-block;
    color: green;
    font-size: 40px;
    margin-left: 15%;
    z-index: 15;
}