/* body{
    height: 100%; 
    margin: 0;
    padding: 0;
    background-color:beige;
} */
/* #quiz_3_instruct{
    margin-top: 50px;
} */

#quiz_3_content{
    margin-top: 100px;
    text-align: center;
}

#hiragana-question{
    margin: 0px 30% 20px 30%;
    padding: 20px 0;
    font-size: 100px;
    border-style: solid;
    text-align: center;
    background-image: linear-gradient(to bottom left, rgb(240, 240, 240), lightgrey);
}

#quiz_3_question_instruct{
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* #quiz_3_input{
    display: block;
    margin-right: auto;
    margin-left: auto;
} */

/* #quiz_3_input_container{
    margin-left: 40%;
} */

/* .result_word{
    font-weight: bold;
    margin-right: 300px;
} */


.quiz_submit{
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    font-size: x-large;
    width: 100px;
    cursor: pointer;
    margin-left: 5%;
    margin-bottom: 20px;
}
.green_zone{
    background: rgb(159, 221, 159);
    color: green;
    font-size: xx-large;
    font-weight: bold;
    padding: 20px 4%;
}
#next_button_correct{
    border-radius: 10px;
    background-color: rgb(3, 110, 3);
    color: white;
    font-size: x-large;
    width: 120px;
    cursor: pointer;
    margin-left: 79%;
    padding: 5px 0px;
}
.red_zone{
    background: rgb(224, 146, 146);
    color: red;
    font-size: xx-large;
    font-weight: bold;
    padding: 20px 4%;
}
#try_again_button{
    border-radius: 10px;
    background-color: rgb(180, 25, 25);
    color: white;
    font-size: x-large;
    width: 160px;
    cursor: pointer;
    margin-left: 61%;
    padding: 5px 0px;
}

