{% extends "layout.html" %}

{% block content %}

<script src="{{ url_for('static',filename='js/end.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/end.css') }}">
<script type="text/javascript">
    let c_num = {{c_num|tojson}}
    let q_num = {{q_num|tojson}}
</script>

    <div>
        <br>
        <img src="{{url_for('static', filename='image/endimg.jpg')}}" alt="endpage image" class="endimg">
    </div>
    <div class="text">
            Congratulations! 
            <br>
            You have mastered the first 5 of Japanese Hiragana! 
            <br>
            <span>Your score is {{c_num}}/{{q_num}}.</span>
            <br>
    </div>
<form action="/" method="post">
    <div>
        <button class="submit" id="submit">Back to Homepage</button>
    </div>
</form>

<form action="/quiz_start">
    <div>
        <button class="submit" id="retry">Retry the Quiz</button>
    </div>
</form>
{% endblock %}
