{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<br><br><br>
<div>
    <img src="{{url_for('static', filename='image/homeimg2.png')}}" alt="homepage image" class="homeimg">
</div>
<br>
<div class="text">
    Welcome to Japanese Hiragana! <br>
    Click on <span class="italic">Let's Learn</span> to learn about hiraganas or <span class="italic">Test Myself</span> to get a quiz!
</div>

{% endblock %}