{% extends "layout.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <a href="/learn/a">あ</a>
            </div>
            <div class="col-2">
                <a href="/learn/i">い</a>
            </div>
            <div class="col-2">
                <a href="/learn/u">う</a>
            </div>
            <div class="col-2">
                <a href="/learn/e">え</a>
            </div>
            <div class="col-2">
                <a href="/learn/o">お</a>
            </div>
            <div class="col-1"></div>
        </div>
        <div>
            Click on any one of them to learn!
            <br>
            When you finish learning, don't forget to click 'Test Yourself!' for a quiz! 
        </div>
    </div>

{% endblock %}
