{% extends "layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{url_for('static', filename='js/learn.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learn.css') }}">

    <script>
        let content = {{content|tojson}}
        console.log(content)
    </script>

    <br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-4 hiragana_learn"></div>
            <div class="col-7 right_side">
                <div class="text_learn"></div>
                <br><br>
                <div class="row indent_gotit">
                    <button class="got_it_learn">I Got It!</button>
                </div>
            </div>
        </div>
    </div> 

    <!-- <div class="learn_container">
        <div class="hiragana_learn" style="display: inline-block; font-size: 40px; font-weight: bold; text-align: center
        ; background: lightgrey"></div>
        <div class="right_side" style="display: inline-block; margin-left: 30px">
            <div class="text_learn"></div>
            <button class="got_it_learn"></button>
        </div>
    </div>
    <div class="move_zone">
        <button class="prev_learn" style="margin-right: 300px"></button>
        <button class="next_learn" style="margin-left: 300px"></button>
    </div> -->

{% endblock %}