{% extends "layout.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <a href="/learn_1">あ</a>
            </div>
            <div class="col-2">
                <a href="/learn_2">い</a>
            </div>
            <div class="col-2">
                <a href="/learn_3">う</a>
            </div>
            <div class="col-2">
                <a href="/learn_4">え</a>
            </div>
            <div class="col-2">
                <a href="/learn_5">お</a>
            </div>
            <div class="col-1"></div>
        </div>
        <div>
            Click on any one of them to learn!
            <br>
            When you finish learning, don't forget to click 'Test Yourself!' for a quiz! 
        </div>
    </div>

{% endblock %}