{% extends "quiz_layout.html"  %}

{% block individual_css_or_js_tags %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/quiz_4.css') }}">
<script src="{{ url_for('static',filename='js/quiz_4.js') }}"></script>
{% endblock %}

{% block content %}
    <script>
        var data = {{data|tojson}}
    </script>

    <h4 id="quiz_4_instruct">
        Type in romanization according to audio sound:
    </h4>
    
    <div id="quiz_4_content">
        <div id="hiragana-question">
            <audio id="audio" controls="controls" src={{data.audio}}></audio>
        </div>
        <div id="quiz_4_question_instruct">
            What is this word? Type its Romanization:
        </div>
        <div id="quiz_4_input_container">
            <div class="form-inline sm-4">
                <div class="form-group">
                    <input type="text" id="quiz_4_input">
                </div>
                <button class="btn btn-primary mb-2" id="quiz_4_button">Check</button>
            </div>
        </div>
        <div id="quiz_4_result_zone"></div>
    </div>
{% endblock %}
