{% extends "quiz_layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static',filename='css/quiz_1.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='js/quiz_1.js')}}"></script>

<script>
    let content = {{data|tojson}}
    console.log(content)
    let w3 = {{wrong3|tojson}}
    console.log(w3)
</script>

<div id="quiz1_problem_zone"></div>
<div id="quiz1_drag_zone"></div>
<div>
    <button class="quiz1_submit" style="margin-left: 300px">Submit</button>
</div>
<div id="quiz1_result_zone"></div>

{% endblock %}
