{% extends "quiz_layout.html"  %}

{% block individual_css_or_js_tags %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/quiz_2.css') }}">
<script src="{{ url_for('static',filename='js/quiz_2.js') }}"></script>
{% endblock %}

{% block content %}
<!-- <button type="submit" class="btn btn-primary mb-2"><a href="{{ url_for('quiz', id=1) }}" style="color:inherit">Prev</a></button>
<button type="submit" class="btn btn-primary mb-2"><a href="{{ url_for('quiz', id=3) }}" style="color:inherit">Next</a></button> -->

<script>
    let content = {{data|tojson}}
    console.log(content)
</script>


<div id="quiz_2_instruct">
    Drag the hiragana to corresponding pronunciation:
</div>


<div id="quiz_2_content">
    <!--    <div class="row quiz-2-row">-->
    <!--        <div class="col-sm-6">-->
    <!--            <div class="quiz_2_source-box">-->
    <!--                {{ data.data[0].hiragana }}-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-sm-6">-->
    <!--            <div class="quiz_2_target-box">Dest1</div>-->
    <!--            <audio src="{{ data.data[0].audio }}"  controls></audio>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <div class="row quiz-2-row">-->
    <!--        <div class="col-sm-6">-->
    <!--            <div class="quiz_2_source-box">-->
    <!--                {{ data.data[1].hiragana }}-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-sm-4">-->
    <!--            <div class="quiz_2_target-box">Dest2</div>-->
    <!--            <audio src="{{ data.data[1].audio }}" controls></audio>-->
    <!--        </div>-->
    <!--        <div class="col-sm-2">-->
    <!--            &lt;!&ndash; <input type="button" value="sound" onclick="playMuci()" /> &ndash;&gt;-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <div class="row quiz-2-row">-->
    <!--        <div class="col-sm-6">-->
    <!--            <div class="quiz_2_source-box">-->
    <!--                {{ data.data[2].hiragana }}-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="col-sm-6">-->
    <!--            <div class="quiz_2_target-box">Dest3</div>-->
    <!--            <audio src="{{ data.data[2].audio }}" controls></audio>-->
    <!--        </div>-->
    <!--    </div>-->
</div>
<div>
    <button class="quiz2_submit">Check</button>
</div>
<div id="quiz_2_result_zone"></div>

{% endblock %}
