{% extends "quiz_layout.html"  %}

{% block individual_css_or_js_tags %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/quiz_3.css') }}">
<script src="{{ url_for('static',filename='js/quiz_3.js') }}"></script>
{% endblock %}

{% block content %}

<h4 id="quiz_3_instruct">
    Drag the hiragana to corresponding pronunciation:
</h4>

<div id="quiz_3_content">
    <div id="hiragana-question">
        {{ data.hiragana }}
    </div>
    <div id="quiz_3_question_instrct">
        How to pronounce this word? Type its Romanization:
    </div>
    <div id="quiz_3_input_container">
<!--        <form class="form-inline sm-4" action="">-->
<!--            <div class="form-group">-->
<!--                <input type="text" id="quiz_3_input">-->
<!--            </div>-->
<!--            <button class="btn btn-primary mb-2" id="quiz_3_button">Check</button>-->
<!--        </form>-->
        <div class="form-inline sm-4">
            <div class="form-group">
                <input type="text" id="quiz_3_input">
            </div>
            <button class="btn btn-primary mb-2" id="quiz_3_button">Check</button>
        </div>
    </div>
    <div id="quiz_3_result_zone"></div>
</div>

{% endblock %}
